In [1]:
import pandas as pd
import os

In [2]:

path = r"/Users/boukaskasbrahim/Desktop/Achievement4_Project/Prepared Data"

ords_prods_merge = pd.read_pickle(os.path.join(path, "ords_prods_merge.pkl"))

# Quick check
ords_prods_merge.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [3]:
# Categorizing products by price range
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_label'] = 'Low-range product'
ords_prods_merge.loc[(ords_prods_merge['prices'] > 5) & (ords_prods_merge['prices'] <= 15), 'price_label'] = 'Mid-range product'
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_label'] = 'High-range product'

# Verifying distribution
ords_prods_merge['price_label'].value_counts()

price_label
Mid-range product     21890146
Low-range product     10126384
High-range product      417682
Name: count, dtype: int64

### Observation
Products have been split into three categories: low-range, mid-range, and high-range.  
This makes it easier to analyze customer spending behavior by product type.

In [12]:
ords_prods_merge['order_dow'].value_counts().sort_index()

order_dow
0    6209632
1    5665830
2    4217766
3    3844096
4    3787193
5    4209449
6    4500246
Name: count, dtype: int64

In [13]:
# Defining the busiest and slowest days 
busiest_days = [0, 1]   # top 2 busiest
slowest_days = [3, 4]   # bottom 2 slowest

# Creating new labels
ords_prods_merge.loc[ords_prods_merge['order_dow'].isin(busiest_days), 'busiest_days'] = 'Busiest days'
ords_prods_merge.loc[ords_prods_merge['order_dow'].isin(slowest_days), 'busiest_days'] = 'Slowest days'
ords_prods_merge['busiest_days'].fillna('Regularly busy', inplace=True)

# Verifying
ords_prods_merge['busiest_days'].value_counts()

/var/folders/fh/z04k5mcd3xz6ftdmhk_5j1m00000gn/T/ipykernel_22297/560534174.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ords_prods_merge['busiest_days'].fillna('Regularly busy', inplace=True)

busiest_days
Regularly busy    12927461
Busiest days      11875462
Slowest days       7631289
Name: count, dtype: int64

In [14]:
ords_prods_merge['order_hour_of_day'].value_counts().sort_index()

order_hour_of_day
0      218942
1      115786
2       69431
3       51317
4       53283
5       88057
6      290770
7      891928
8     1719952
9     2456661
10    2764390
11    2738585
12    2620800
13    2663272
14    2691563
15    2664522
16    2537469
17    2089452
18    1637922
19    1259382
20     977017
21     796362
22     634737
23     402612
Name: count, dtype: int64

In [15]:
# Most orders: 9 AM to 4 PM
ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'].isin([9,10,11,12,13,14,15,16]), 
                     'busiest_period_of_day'] = 'Most orders'

# Average orders: morning rise (7–8) + early evening (17–18)
ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'].isin([7,8,17,18]), 
                     'busiest_period_of_day'] = 'Average orders'

# Fewest orders: late night + very early morning + late evening (0–6 and 19–23)
ords_prods_merge['busiest_period_of_day'] = ords_prods_merge['busiest_period_of_day'].fillna('Fewest orders')

# Verifying distribution

### Observations
- The **busiest period** for Instacart orders is between **9 AM and 4 PM**, when order volumes peak.
- **Average activity** occurs during **7–8 AM** and **5–6 PM**, showing secondary surges.
- **Fewest orders** happen overnight (0–6) and late evenings (7 PM–11 PM).

In [16]:
# Define path
path = r"/Users/boukaskasbrahim/Desktop/Achievement4_Project/Prepared Data"

# Export as pickle
ords_prods_merge.to_pickle(os.path.join(path, "ords_prods_derived.pkl"))